body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    cursor: url('img/cursor.cur'), auto;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

input[type="text"], input[type="number"], select, input[type="file"] {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.sabor-item {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sabor-item img {
    width: 50px;
    height: auto;
    border-radius: 4px;
}

label{
    display: block;
    margin-top: 10px;
}

.btn-regresar {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-regresar:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
}